{% extends "base.html" %}

{% load static %}

{% block content %}
  <div>
      <form class="form-horizontal" method="post" id="main-form">
            {% csrf_token %}

          <label for="animal">Animal</label>

          <select name="animal" id="animal">
              {% for valor in vacas %}
  		        <option value="{{ valor }}">{{ valor }}</option>
              {% endfor %}
          </select>

          <button type="submit">Busca</button>

      </form>
      {% if vaca_encontrada %}
        <span>
            Identificador {{ vaca_encontrada.id }} - Animal: {{ vaca_encontrada.nome }}
        </span>
        {% endif %}
  </div>
{% endblock %}