{% extends "base.html" %}

{% load static %}

{% block content %}
  <div>
          {% for varegista in varegistas %}
            <span> Nome: {{ varegista.nome }} - CNPJ: {{ varegista.cnpj }} -
                <a href="{% url 'atualizar' pk=varegista.pk %}"> Update </a>
            </span>
      <form method="POST" action="{% url 'delete' pk=varegista.pk %}" >
           {% csrf_token %}
          <button type="submit"> Deletar </button>
      </form>
      <br>
          {% endfor %}

  </div>
{% endblock %}