{% extends "base.html" %}

{% load static %}

{% block content %}
  <div>
      <form class="form-horizontal" method="post" id="main-form">
            {% csrf_token %}
          <label for="produto">Produto</label>
          <input type = "text" name="produto">

          <label for="quantidade">Quantidade</label>
          <input type = "text" name="quantidade">

          <label for="valor">Valor</label>
          <input type = "text" name="valor">

          <label for="peso">Peso</label>
          <input type = "text" name="peso">

          <label for="tipo_producao">Tipo de Produção</label>

          <select name="tipo_producao" id="tipo_producao">
              {% for tipo_producao in tipo_producoes %}
  		        <option value="{{ tipo_producao.slug }}">{{ tipo_producao.nome }}</option>
              {% endfor %}
          </select>
          <button type="submit">salvar</button>


      </form>
  </div>
{% endblock %}